@font-face {
    font-family: Play; /* Имя шрифта */
    src: url('../fonts/Play-Regular.ttf'); /* Путь к файлу со шрифтом */
}
ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}
a
{
    text-decoration: none;
}
body
{
    font-size: 20px;
    font-family: Play;
}
.main-container
{
    background-color: #FBFBFC;
}
.container
{
    width:1500px;
    margin: auto;
}
.logo-container
{
    display: inline-block;
    width:50%;
}
.menu-container
{
    display: inline-block;
    width: 49%;
    text-align: right;
}

.menu-list
{

    display: inline-block;
}
.menu-list li
{
    padding: 5px 0px 5px 15px;
    margin-left:15px;
    display: table-cell;
}
.menu-list li a
{
    text-decoration: none;
    color: #363636;
    font-size:20px;
}
.categories-line
{
    font-size: 20px;
    margin-top: 20px;
    height: 80px;
    vertical-align: middle;
    background: linear-gradient(to top, #363636, #545353);
}

.categories-line  ul li
{

    padding: 0px 15px 0px 15px;
    height: 80px;
    vertical-align: middle;
    display: table-cell;
}
.categories-line  ul li a
{
    color: #fff;
}
.products-list img
{
    max-width:300px;
    max-height: 300px;
}
.single-product-container
{
    display:inline-block;
    vertical-align: top;
    padding: 15px 15px 25px 15px;
    border:1px solid #e0e0e1;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-right: 35px;

    margin-bottom:20px;
    min-height: 440px;
}
.single-product-container a
{
    padding: 10px 15px;
    background: linear-gradient(to top, #363636, #545353);
    border-radius: 4px;
    color:#fff;

}
.row
{
    margin-top: 10px;
    margin-bottom:10px;
}
.block-title
{

    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #e0e0e1;
    padding: 5px 10px;
    height: 40px;
    border-radius: 4px;
    background-color: #f2f2f5;
}
.products-list
{
    margin-top:20px;
}
.meta-row
{
    height: 130px;
}
 .left, .right
{
    display: inline-block;
}
 .right
{
    float: right;
}
.footer
{
    height:300px;
    width: 100%;
    background-color: #f2f2f5;
}
